recursive-include doc *.py *.rst *.txt *.html *.css *.js *.png *.git *.jpg *.conf *.bat *.pdf *.docx Makefile
recursive-include README.rst CHANGES.rst install.sh beast_windows.zip
recursive-include src/beast/*
prune doc/_build
